*{
  max-width: 1000px;
  margin: auto;
}

body {
  padding: 10px;
}

.circle {
  border-radius: 50%;
  border: 3px solid black;
}

.rectangle {
  border-radius: 10%;
  padding: 5px;
  width: 250px;
}

#nahore {
	font-family: 'Acme', sans-serif;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
	-ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

hr {
  height: 2px;
  background-color: black;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  padding: 5px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#shadowText {
  
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}



#stred {
  font-size: larger;
}

#hlavniNadpis {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}



.line {
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: 2px;
  margin-bottom: 2px;
}

#podNadpis {
	font-family: 'Acme', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 3px solid black;
}

.ilustr {
  width: 50px;
}

#geologist {
  width: 300px;
  z-index: 1;
  left: 20px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  position: absolute;
}



#reporter {
  z-index: 1;
  width: 150px;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  position: absolute;
}




.content_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text {
  width: 200px;
  font-family: 'Nanum Gothic', sans-serif;
}



.content {
  padding: 10px;
}

#second_header {
	font-family: 'Permanent Marker', cursive;
	width: 52%;
	text-transform: uppercase;
	text-align: center;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	position: absolute;
	right: 0;
	-webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}



#first_header {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  -webkit-transform: translateX(99px);
          transform: translateX(99px);
  width: 70%;
  text-transform: uppercase;
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}



article {
  position: relative;
}

.imgs {
  position: relative;
}



main {
  margin-top: 50px;
}


#content_box1 {
  margin-top: 100px;
}


.move {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}



hr {
  margin-top: 10px;
  margin-bottom: 10px;
}